# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Prisma
backend/prisma/*.db

# Logs
*.log
npm-debug.log*
